:root {
  --font-body: Arial, Helvetica, sans-serif;
  --font-headline: Haettenschweiler, "Arial Narrow Bold", sans-serif;
  /* colors */
  --primary-color: #ff6f61;
  --secondary-color: #4caf50;
  --tertiary-color: #f4f4f9;
  --dark-grey: #333333;

  /* sizes */
  --font-base: 18px;
  --small-font: 0.8em;
  --large-font: 1.2em;
}

/* Reset some basic elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: var(--font-base);
}

body {
  font-family: var(--font-body);
  line-height: 1.6;
}

/* Container */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icons {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Header */
.header {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 0;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.header .icons {
  display: flex;
  align-items: center;
}

.header .icons i {
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.header .icons i:hover {
  color: var(--dark-grey);
}

/* Mobile Menu */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin-left: 20px;
  cursor: pointer;
  padding: 0; 
}

/* Footer */
#main-footer {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-nav {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-nav .recipe-count {
  margin-right: 20px;
  font-size: 18px;
}

.footer-nav .btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  margin: 0 10px;
  cursor: pointer;
  padding: 0; /* Remove default padding */
}

.footer-nav .btn:focus {
  outline: none; /* Remove focus outline */
}

.footer-nav .btn:hover {
  color: var(--dark-grey);
}

.footer-info {
  text-align: center;
}

.footer-info p {
  margin-bottom: 10px;
}

.footer-info ul {
  list-style: none;
  padding: 0;
}

.footer-info ul li {
  display: inline;
  margin: 0 10px;
}

.footer-info ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-info ul li a:hover {
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .footer-content {
    flex-direction: column;
    align-items: center;
  }
}